.HeaderComponent{
  .margin{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .right{
      button{
        margin-left: 10px;
      }
    }
  }
  .sticker {
    width: 100%;
    height: 1px;
    background-color: rgb(234, 234, 234);
  }
}
